*, ::after, ::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.container {
	width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.news-row {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

@media (min-width: 768px) {
	.source-list {
		-webkit-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%;
	}
}

.source-list, .news-list {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.btn-update {
	display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}

button, select {
    text-transform: none;
}

button, input {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button {
    border-radius: 0;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}

@media (min-width: 768px) {
	.news-list {
		-webkit-flex: 0 0 75%;
		flex: 0 0 75%;
		max-width: 75%;
	}
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

img {
    vertical-align: middle;
    border-style: none;
}

.wrap {
	width: 100%;
	position: absolute;
	top: 50%;
}
.spinner-wrap {
	margin: auto;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
.spinner {
	height: 100px;
	width: 100px;
	display: inline-block;
	margin: -50px auto 0;
	animation: spin 1s steps(12, end) infinite;
}
.spinner:first-child {
	margin-right: 50px;
}
.spinner i {
	height: 30px;
	width: 6px;
	margin-left: -3px;
	display: block;
	transition: height 1s;
	position: absolute;
	left: 50%;
	transform-origin: center 50px;
	background: #007bff;
	box-shadow: 0 0 3px rgba(255, 255, 255, .7);
	border-radius: 3px;
}
.spinner:nth-child(2) i {
	height: 6px;
}
.spinner:hover i {
	height: 6px;
}
.spinner:hover:nth-child(2) i {
	height: 30px;
}
.spinner i:nth-child(1) {
	opacity: 0.08;
}
.spinner i:nth-child(2) {
	transform: rotate(30deg);
	opacity: 0.167;
}
.spinner i:nth-child(3) {
	transform: rotate(60deg);
	opacity: 0.25;
}
.spinner i:nth-child(4) {
	transform: rotate(90deg);
	opacity: 0.33;
}
.spinner i:nth-child(5) {
	transform: rotate(120deg);
	opacity: 0.4167;
}
.spinner i:nth-child(6) {
	transform: rotate(150deg);
	opacity: 0.5;
}
.spinner i:nth-child(7) {
	transform: rotate(180deg);
	opacity: 0.583;
}
.spinner i:nth-child(8) {
	transform: rotate(210deg);
	opacity: 0.67;
}
.spinner i:nth-child(9) {
	transform: rotate(240deg);
	opacity: 0.75;
}
.spinner i:nth-child(10) {
	transform: rotate(270deg);
	opacity: 0.833;
}
.spinner i:nth-child(11) {
	transform: rotate(300deg);
	opacity: 0.9167;
}
.spinner i:nth-child(12) {
	transform: rotate(330deg);
	opacity: 1;
}
@keyframes spin {
	from {
		transform: rotate(0deg);
   }
	to {
		transform: rotate(360deg);
   }
}